.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.login-page{
  background-image: url('/src/images/Loki.jpg');
  width: 943px;
  height: 472px;
  margin: 150px 250px;
  position: relative;
}
.google-login{
  position: absolute;
  top: 320px;
  left: 640px;
}
.navbar{
  display: flex;
  background-color: blue;
  width: 100vwh;
  padding: 5px 15px;
}
.navbar__header{
  margin-right: auto;
  background-color: rgb(22, 115, 190);
  padding: 0px 8px;
}
.navbar__login{
  margin-left: auto;
}
.user {
  display: inline-flex;
  align-items: center;
}
  .user-image {
    border-radius: 50%;
    height: 35px;
    width: 35px;
  }
  .login-button{
    border: 1px solid white;
    padding: 8px 10px;
    background-color: transparent;
    color: white;
    border-radius: 4px;
  }
  .blog-page{
    width: 100vwh;
    padding: 0 15px;
    background-color: #96999c18;
  }
  .search {
    background-color: white;
    padding: 15px;
    margin: 10px 0px;
   
  }
  .input-search {
    width: 100%;
    padding: 8px 15px;
    border: 1px solid gray;
    outline: none;
  }
  .blog-post {
    background-color: white;
    padding: 15px;
    margin: 10px 0px;
    line-height: 25px;
  }
  .post-title {
    color: #262729;
    display: inline-block;
    padding-right: 5px;
    font-size: 20px;
  }
  .user-name {
    color: white;
    background-color: #e2c234;
    padding: 0px 4px;
    border-radius: 4px;
  }
  .post-description {
    font-size: 12px;
  }
  .details-button {
    border: 1px solid white;
    padding: 8px 10px;
    background-color: rgba(6, 6, 248, 0.658);
    color: white;
    border-radius: 4px;
  }